.sidebar{
  width: 120px;
  height: 100vh;
  background-color: black;
  display: flex;
  z-index: 1000;
  color: white;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  position: fixed;
  overflow: hidden;
}
.sidebar img{
  height: 100px;
  width: 120px;
}
.sideitems{
  font-size: 20px;
  font-weight: bold;
}
.fscreen{
  max-width: 100vw;
  flex-direction:auto;
  background-color:white;
  display: flex;
  flex-direction: row;
  gap: 13px;
  height: 100vh;
}
.nitems{
  padding-top: 5px;
  font-size: 40px;
  font-weight: bold;
}

.nbar{
  display:flex;
  width: 78vw;
  justify-content: space-between;
  margin: 10px;
  height: 70px;
  border-bottom: 1px solid rgb(229, 207, 207);
  background-color: white;
  position: sticky;
  top: 10px;
  z-index: 100;
}
.nbar img{
  border-radius: 20px;
  height: 30px;
  padding: 15px;
  cursor: pointer;
}
 .cards {
  margin: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  box-shadow: 1px 10px 10px rgb(203, 176, 176);
}
.cards:hover{
  transform: scale(1.05);
}
.iconnitems img{
  width: 80px;
  border-radius: 20px;
  height: 80px;
}
.iconnitems{
  display: flex;
  flex-direction: column;
  line-height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidenavitems{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.header{
  height: 150px;
  background-color: blueviolet;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
.threedots{
  color: white;
  writing-mode: vertical-rl;
    height: 25px;
    font-size: 50px;
    cursor: pointer;
    text-orientation: mixed;
    margin: 10px 0;
}
.contentbody{
  background-color: white;
  width: 80vw;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}
.thirdsection{
  margin-top: 70px;
  display: flex;
  margin-right: 50px;
  flex:1;
  flex-direction: column;
}
.thirdsecnav{
  border-bottom: 1px solid rgb(229, 207, 207);
  font-weight: bold;
  font-size: 30px;
}
.todolist{
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  line-height: 0.5;
  min-height: fit-content;

}
.todolist h1{
  color: red;
  font-size: 25px;
  font-weight: 400px;
  transition:  transform 0.3s ease-out;
}
.todolist h2{
  color: black;
  font-size: 15px;

}
.todolist:hover{
  color: black;
  text-decoration: underline red;

}
.middlebody{
  display: flex;
  flex-direction: column;
} 
.secthird{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 150px;
}
.middlesec{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
}
.middlesec:hover{
  text-decoration: underline red;
}
.subject{
  font-weight: bold;
  font-size: 20px;
  color: purple;
}
.subjectcode{
  font-size: 20px;
  color: darkgray;
}
.year{
  font-size: 15px;
  color:dimgrey;
}
.footer{
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.footer img{
  height: 40px;
  width: 40px;
}
.footer img:hover{
  color: red;
}