.sidebar{
  width: 120px;
  background-color: black;
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.sidebar img{
  height: 100px;
  width: 120px;
}
.sideitems{
  font-size: 20px;
  font-weight: bold;
}
.fscreen{
  width: 100vw;
  flex-direction: row;
  background-color:white;
  display: flex;
  gap: 20px;
  height: 100vh;
}
.nitems{
  padding-top: 5px;
  font-size: 40px;
  font-weight: bold;
}

.nbar{
  display:flex;
  width: 80vw;
  justify-content: space-between;
  margin: 10px;
  position: sticky;
  height: 70px;
  border-bottom: 1px solid rgb(229, 207, 207);
}
.nbar img{
  border-radius: 20px;
  height: 30px;
  padding: 15px;
  cursor: pointer;
}
.cards{
  margin: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 6px 10px 10px rgb(203, 176, 176);

}
.contentbody{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80wh;
}
.card1{
  background-color: blue;
}
